<div class="pure-g">
	<div class="pure-u-1 abouttabs">
		<dl class="tabs vertical" data-tab>
			<dd class="active"><a href="#panel1a">Our Company</a></dd>
			<dd><a href="#panel2a">Vision an Mission</a></dd>
			<dd><a href="#panel6a">Products and Services</a></dd>
			<dd><a href="#panel7a">Core Values</a></dd>
			<dd><a href="#panel3a">Our Partners</a></dd>
			<dd><a href="#panel4a">Message from CEO</a></dd>
			<dd><a href="#panel5a">Management Team</a></dd>
		</dl> 
		<div class="tabs-content vertical">
			<div class="content active" id="panel1a">
				<%=  render "layouts/panel1" %>
			</div>
			<div class="content" id="panel2a">
				<%=  render "layouts/panel2" %>
			</div>
			<div class="content" id="panel6a">
				<%=  render "layouts/panel6" %>
			</div>
			<div class="content" id="panel7a">
				<%=  render "layouts/panel7" %>
			</div>
			<div class="content" id="panel3a">
				<%=  render "layouts/panel3" %>
			</div>
			<div class="content" id="panel4a">
				<%=  render "layouts/panel4" %>
			</div>
			<div class="content" id="panel5a">
				<%=  render "layouts/panel5" %>
			</div>
		</div>
	</div>
	</div>
</div>
