<div class="footer" id="footerdesign">
	<div class="pure-g" id="navcontainer">
		<div class="pure-u-1">
					<ul class="">
						<li><%= link_to "Home", root_path %></li>
						<li><%= link_to "About Us", about_path %></li>
						<li><%= link_to "Services", services_path %> </li>
						<li><%= link_to "Clients And Projects", clientsAndProjects_path %> </li>
						<li><%= link_to "Partners", partners_path %> </li>
					</ul>
		</div>
	</div>
	<div class="pure-g">
		<div class="pure-u-1">
			<p class="copyright" style="text-align: center">&copy;2014 Sageo Technologies Limited. All rights rerserved.
		</p>
		</div>	
	</div>
</div>
